---
layout: default
---

<style>
  table#post-list, #post-list td, #post-list tr {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
  }
</style>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <table id="post-list">
      {%- for post in site.posts -%}
      <tr>
        {%- assign date_format = site.minima.date_format | default: "%a %-d %b %Y" -%}
        <td style="text-align: right; vertical-align: top; width: 30%;">{{ post.date | date: date_format }}&nbsp;&nbsp;</td>
        <td><a href="{{ post.url | relative_url }}">{{ post.title | smartify | escape }}</a></td>
      </tr>
      {%- endfor -%}
    </table>
  {%- endif -%}

</div>
